@use "sass:map";
@import "base";
@import "normalize.css";
@import "fonts";
@include site-fonts;

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

header {
	//
}

body {
	min-width: 320px;
	background-color: $body-background;
	color: $body-text-color;
	font-family: $body-font-family;
}

footer {
	//
}

img {
	max-width: 100%;
}

h1,
.c-h1 {
	margin: 0;
	padding: 0;
}

h2,
.c-h2 {
	margin: 0;
	padding: 0;
}

h3,
.c-h3 {
	margin: 0;
	padding: 0;
}

p,
div,
a,
li {
	margin: 0;
	padding: 0;
}

.l-content-container {
	@include content-container;

	width: 100%;
	margin: 0 auto;
}

.l-content-container-left {
	@include content-container("left");

	width: 100%;
}

.l-content-container-right {
	@include content-container("right");

	width: 100%;
}

// Класс для контента из визуального редактора (HTML контент)
.c-content {
	h1,
	.c-h1,
	h2,
	.c-h2,
	h3,
	.c-h3,
	h4,
	.c-h4,
	p,
	ul,
	div {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

iframe {
	max-width: 1200px;
	width: 100% !important;
	height: auto !important;
	aspect-ratio: 16/9;
}

// Отступы
@each $name, $indent in $indents {
	.margin-#{"" + $name} {
		&-top {
			@include color-indent($name, true, true);
		}

		&-bottom {
			@include color-indent($name, false, true);
		}
	}

	.padding-#{"" + $name} {
		&-top {
			@include color-indent($name, true, false);
		}

		&-bottom {
			@include color-indent($name, false, false);
		}
	}
}
